doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom ✨
        link(rel="stylesheet", href="../public/css/reset.css")
        link(rel="stylesheet", href="../public/css/style.css")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        //- link(rel="preconnect" href="https://fonts.googleapis.com")
        //- link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        //- link(href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet")
        //- link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        //- link(rel="icon" href="../public/img/favicon/favicon.ico" type="image/x-icon")
    body 
        header
            h1 Noom
        main
            h3.RoomName
            form.Room
                input(type="text" placeholder="방 이름을 입력해주세요")
                button 전송
            form.Name
                input(type="text" placeholder="닉네임을 입력해주세용")
                button 전송

        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 