doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hoom
        link(rel="stylesheet", href="../public/css/reset.css")
        link(rel="stylesheet", href="../public/css/style.css")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        link(rel="icon" href="../public/img/favicon/favicon.ico" type="image/x-icon")
    body 
        header
            nav 
                a(href="#")
                    i(class="fab fa-stumbleupon")
                ul
                    li 
                        a(href="#") MENU
                    li 
                        a(href="#") MENU
                    li 
                        a(href="#") MENU        
            h1 Video Call 🚬

            br
            
            p 
                a(href="#")
                    i 방 참여하기
                a(href="#")
                    b 방 만들기
        footer 
            hr
            p 
                small &copy; 2022. HyeonMin all rights reserved.
    script(src="public/js/app.js") 